/********导航**********/
#head{ height: 118px;}
#head .head-img{width: 191px;}
#head .head-right{width: 755px;margin-right: 20px; margin-top: 14px; height: 100%;}
#head .head-c{width: 100%; display: flex;margin-left: 387px;}
#head .head-c input{width: 224px;outline:none;padding: 7px; height: 14px;border: 1px #333333 solid; border-radius: 15px;}
#head .head-c span{position: relative;font-size: 16px; left: -27px;top: 7px;}
#head .head-right .head_lr{font-size: 18px;margin-left: 36px; color: #343434;}
#head .head-new{width: 736px;margin-left: 35px; display: flex;margin-top: 13px;}
#head .head-new ul{width: 100%;line-height: 42px;text-align: center; display: flex;justify-content: space-between;}
#head .head-new ul li:hover{ border-bottom: 2px #830a13 solid;}
#head .head-new ul li a{font-size: 20px; color: #333333;}
/********轮播*********/
.bannerbox {width: 100%;top: -10px; overflow: hidden;position: relative;}			
.Homebanner{width:500%;/* overflow: hidden; */position: relative;left: 0;transition: all 2s;}	
.Homebanner>img {height: 600px; float: left;width: 20%;}
.bannerbox>button { width: 42px;height: 69px;border: 1px solid #000;background: rgba(0, 0, 0, .5); font-size: 36px; /* border-radius: 50%; */color: #fff;cursor: pointer;outline: none;position: absolute;top: 50%;opacity: .0;margin-top: -20px;}
.bannerbox>button:nth-of-type(1) {left: 20px;}
.bannerbox>button:nth-of-type(2) {right: 20px;}
.bannerbox>button:hover { opacity: .8; background: rgba(0, 0, 0, .7);}
.bannerbox>button:active { opacity: .8; background: rgba(0, 0, 0, .9);}
.marright{margin-right: 0px !important;opacity: 1 !important;}
 .marleft{margin-left: 0px !important;opacity: 1 !important;}
.Homedot{position:absolute;z-index:5;  left: auto; left: 880px; bottom: 20px; text-align: right;}
.Homedot a{ display: block; float: left; width: 20px; height: 20px; border: 2px solid #fff; border-color: hsla(0,0%,100%,.3); border-radius: 10px; overflow: hidden;
background: rgba(0,0,0,.4); opacity: 1;margin: 0 4px;}
.Homedot a.cur{background: hsla(0,0%,100%,.4); border-color: rgba(0,0,0,.4);}

/********中方内容*******/

.cont{width: 1189px; margin-top: 22px;}
.cont .cont-title{width: 100%; height: 25px; text-align: right;border-bottom: 1px #666666 solid;}
.cont .cont-title p{font-size: 14px;color:#5e5e5e;}
.cont .cont-left{width: 126px; height: 350px;border-left: 1px #666666 solid;}
.cont .cont-left ul>li:nth-of-type(1){width: 126px;line-height: 38px;text-align: center; font-size: 24px;color: #333333;border: 1px #666666 solid;border-left: none;border-top: none;}
.cont .cont-left ul>li:nth-of-type(1):after{width: 1px; content: ''; position: absolute;bottom: 404px; height: 15px;left: 0px;  background-color: #fff;}
.cont .cont-left ul>li:nth-of-type(2):after{width: 1px; content: ''; position: absolute;bottom: 62px; height: 15px;left: 132px;  background-color: #fff;}
.cont .cont-left ul>li:nth-of-type(3):after{width: 1px; content: ''; position: absolute;bottom: 384px; height: 5px;left: 0px;  background-color: #fff;}
.cont .cont-left ul>li:nth-of-type(2){width: 126px;height: 18px; font-size: 18px;color: #830914;position: relative;left: -6px;top: 0px;margin-top: 20px;}
.cont .cont-left ol{width: 120px; height: 136px;line-height: 32px; color: #666666;margin-left: 18px;}
.cont .cont-left ol>li:nth-of-type(1){font-size: 14px;color: #830914;border-bottom:1px #999999 solid ; }
.cont .cont-left ol>li:nth-of-type(2){margin-top: 10px;}
.cont .cont-left ul>li:nth-of-type(3){margin-top: 145px;width: 126px;line-height: 43px; font-size: 18px;color: #333333;margin-left: 10px;}
.cont .cont-left ul>li:nth-of-type(4){width: 126px;line-height: 43px; font-size: 18px;color: #333333;margin-left: 10px;}
.cont .cont-left ul>li:nth-of-type(5){width: 126px; line-height: 43px; font-size: 18px;color: #333333;margin-left: 10px;}
.cont .shoot-right{width: 845px;height: 368px;margin-left: 210px;margin-top: 64px; border: 2px #666666 solid ;z-index: 1;}
.cont .shoot-right .right-title{width: 193px;height: 46px;background-color: #fff; border: 1px #cccccc solid;position: absolute;right: 223px;top: 64px;z-index: 2;}
.cont .shoot-right .right-title h3{width: 140px;font-weight: normal; background-color: #fff;left: 29px;  text-align: center; font-size: 22px;color: #333333;position: relative;top: -19px;z-index: 3;}
.cont .shoot-right .right-title span{ display: block; text-align: center; font-size: 10px;position: relative;top: -8px; color: #666666;}
.cont .shoot-img{width:180px;height: 359px;}
.cont .shoot-img img{position: absolute;left:246px;top:46px;}
.cont .shoot-img .y{width: 242px;height: 359px;background-color: #666666;position: relative;left: -62px;top:-20px;z-index: -1;}
.cont .shoot-wz{width: 631px;padding-left:16px;padding-right: 18px; position: absolute;left: 525px;top: 120px;}
.cont .shoot-wz p{width: 631px;text-align: justify;color: #666666;}
.cont .shoot-wz p:nth-of-type(1){line-height: 24px; font-size: 10px;}
.cont .shoot-wz p:nth-of-type(2){margin-top: 17px;line-height: 24px; font-size: 10px;}
.cont .shoot-wz p:nth-of-type(3){margin-top: 17px;line-height: 24px; font-size: 10px;}
/******下方轮播图*******/
.banbox {margin-top: 49px;width: 950px; margin-left: 234px; overflow: hidden;position: relative;}			
.homebanner{width: 920px;margin-left: 50px; height: 205px;text-align: center;display: inline-block; transition: all 2s;}	
.homebanner img {width: 260px;margin-right: 16px;margin-top: 10px; float: left;}
.banbox>button { width: 21px;height: 56px;background-color: #fff; border: none; font-size: 48px;color: #565656;cursor: pointer;outline: none;position: absolute;top: 50%;margin-top: -20px;}
.banbox  .ac{color: #ab2927;}
.banbox>button:nth-of-type(1) {left: 5px;}
.banbox>button:nth-of-type(2) {right: 6px;}
.banbox .homebanner .active{width: 307px;height: 205px;position: relative; top: -10px;}
.foot{height: 90px;background-color: #666666;margin-top: 69px;}
.foot p{font-size: 16px;color: #fff;text-align: center;line-height: 90px;}
